extends default

block content
    .page-content
        h1 World Population
        h1
        p This website provides information about worl population.
        h2 How it works:
        p
            | There are four main sections: countries, cities, capitals and people.
            | The data is displayed in tables with filters and sorting options.
            | By default, the population colum is sorted from highest to lowest.
            | All columns can be sorted.
            | The dropdowns offer a filter option, the filters are dynamic and dependant on each other, filtering by continent will make country dropdown showing only countries in that continent, and the same with other filter drowpdowns.
        p
            | Below a brief description of the main sections in this website.
        h2 Countries:
        p
            | This is sextion provides information about countries populationsome.
            | The table can be filtered with dropdown menus to proivde information about countries population by continent and region.
        h2 Cities:
        p
            | As with previous section, this one provide cities population information.
            | Filters are continent, country, region and district.
        h2 Capitals:
        p
            | This section is similar to previous one.
        h2 People:
        p
            | This section provides information about population living in cites and out of cities.
        p
            |
        footer
        | github repo:
        p
            a(href='https://github.com/Elvis-Jagger-Abdul-Jabbar/The_Last_Chance') github.com/thelastchance